
body{
    
    background-image: url("https://img.freepik.com/free-vector/blue-abstract-background-design_1107-153.jpg?w=1060&t=st=1696335051~exp=1696335651~hmac=dfd0249f70548ef2bdcb7965b94db43c118219e414810bd0a72e7633e6fd77f9");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
   
}
 /* https://images.pexels.com/photos/1261728/pexels-photo-1261728.jpeg?auto=compress&cs=tinysrgb&w=1600  old photo*/
 